#operationContainer {}

#calculationContainer {
  top:10%;
  left:33%;
  position:absolute;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
}

#calculationContainer table td {
  height: 110px;
  font-size: 100px;
  padding: 3px;
}

.operand2 {
  border-bottom: 4px black solid;
}

#operationAnswer {
  text-align: right;
}
#mainContainer{
  background-color: gray;
  height: 500px;
  position:absolute;
}
#myAnimations{
  height:500px;
  top:0;

  position: relative;
}
