.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
#operationContainer {}

#calculationContainer {
  top:10%;
  left:45%;
  position:absolute;
  width: 33%;

}
#calculationContainer table{

}
#calculationContainer table td {
  height: 110px;
  font-size: 100px;
  padding: 3px;
  color:#FFF;
}

.operand2 {
  border-bottom: 4px #FFF solid;
}

.flip{
  -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
filter: FlipH;
}

#operationAnswer {
  text-align: right;
}

#mainContainer{
  background-color: #000;
  height: 650px;
  /*position:absolute;*/
  width:100%;
  overflow:hidden;
}
#myAnimations{
  width:100%;
  top:0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.numWidth{
  width:75px !important;
}

.outer{
  overflow: hidden;
  display:inline-block;
}
.one1{
display:inline-block;
background-size: 50% 50% !important;
}
/*interlude*/
#lvlMsg{
  top:10%;
  left:45%;
  position:absolute;
  width: 33%;
  font-size: 36px;
  color:white;
}
