<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109230849-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-109230849-1');
  </script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Say the unsaid. Anonymous discussion articles of ideas on politics, cultures, society">

  <title>the Diomed - Politics, Culture, Philosophy</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
  <!--link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono:400,700" rel="stylesheet"-->
  <link href="https://fonts.googleapis.com/css?family=Cousine:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
  <link rel="stylesheet" href="dist/css/main.min.css">
  <style>
  .linkToSingle{
  color: #000000 !important;
  text-decoration: none !important;
  font-weight: normal !important;
}
  </style>
  <link rel="icon" type="image/png" href="D.png" sizes="32x32">
</head>

<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="container">
    <div class="row header">
      <div class="col-md-12 headerContainer">
        <img class="helmet hideOnMobile lazyload" data-size="auto" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII=" data-src="dist/img/facingHelmet2.png" alt="helmet">
        <div class="middle">
          <img class="hideOnMobile lazyload" data-size="auto" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII=" data-src="dist/img/wingding.jpg" alt="wingding">
          <div class="title">
            the <span>D</span>iomed
          </div>
          <div class="tagline hideOnMobile">
            &lt;&lt; Je me presse de rire de tout, de peur d'être obligé d'en pleurer &gt;&gt;
          </div>
        </div>
        <img class="helmet reversed hideOnMobile lazyload" data-size="auto" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8Xw8AAoMBgDTD2qgAAAAASUVORK5CYII=" data-src="dist/img/hothDrone.png" alt="drone">
      </div>
      <div class="col-md-12 dateContainer hideOnMobile">

      </div>
    </div>
    <div class="row headerDivider hideOnMobile"></div>
    <div class="row allArticleContainer">
    </div>
    <div class="row">
      <div id="disqus_thread"></div>
    </div>
    <div class="row footerRow">
      <div><a class="footerHome" href="#">HOME</a></div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="dist/js/picturefill.min.js"></script>
  <script src="dist/js/lazySizes.min.js"></script>
  <script src="dist/js/json.js"></script>
  <script src="dist/js/myDisqus.js"></script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <script id="dsq-count-scr" src="//thediomed.disqus.com/count.js" async></script>
  <script src="dist/js/index.min.js"></script>
</body>

</html>
