<div ng-controller="mainCtrl">
<div ng-show="showSettings" id="settings">
  <div id="operationContainer">Operation:
    <input type="text" ng-model="operation" />
  </div>

  <div id="maxValueContainer">Maximum Value:
    <input type="number" ng-model="maxValue" />
  </div>
</div>
<div>Hit 'N' to continue...'S' for settings...{{keyPressed}}</div>
<div id="calculationContainer">
  <div>{{status}}</div>
  <div>{{data}}</div>
  <div>l:{{spriteLeft}} t:{{spriteTop}}</div>
  <canvas id="coinAnimation"></canvas>
  <table>
    <tr>
      <td></td>
      <td>{{operand1}}</td>
    </tr>
    <tr>
      <td class="operand2">{{operation}}</td>
      <td class="operand2">{{operand2}}</td>
    </tr>
    <tr>
      <td id="operationAnswer" colspan="2" ng-show="showAnswer">{{answer}}</td>
    </tr>
  </table>
</div>
</div>
