<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>menu</title>

  <!-- Bootstrap -->
  <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <link rel="stylesheet" href="dist/css/owl.carousel.min.css">
  <link rel="stylesheet" href="dist/css/owl.theme.default.min.css">
  <link type="text/css" rel="stylesheet" href="dist/css/lightgallery.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  <link href="dist/css/main.css" rel="stylesheet">
  <link href="dist/css/top.css" rel="stylesheet">
  <link href="dist/css/twoOurIdeas.css" rel="stylesheet">
  <link href="dist/css/threeDonate.css" rel="stylesheet">
  <link href="dist/css/fourImpact.css" rel="stylesheet">
  <link href="dist/css/fiveYourDonations.css" rel="stylesheet">
  <link href="dist/css/sixWhatsNew.css" rel="stylesheet">
  <link href="dist/css/sevenLogo.css" rel="stylesheet">
  <link href="dist/css/eightAwardWinners.css" rel="stylesheet">
  <link href="dist/css/nineGallery.css" rel="stylesheet">
  <link href="dist/css/tenContact.css" rel="stylesheet">
  <link href="../lity-2.3.0/dist/lity.css" rel="stylesheet">
</head>

<body>
  <div class="overlay"></div>
  <div class="container">
    <div data-section="0Nav" class="row">
      <div class="mainBar">
        <div id="topInfo" class="col-md-12">
          <div id="topInfoContainer">
            <span id="topMiners">THE MINER'S LAMP AWARD</span><img id="topLogo" src="dist/assets/images/MLLogo_51.jpg" srcset="dist/assets/images/MLLogo_80.jpg 700w, dist/assets/images/MLLogo_100.jpg 1000w" alt="topLogo" />
            <a id="topDonateBtn" href="#sectionThreeContainer" type="button">Donate</a>
            <span id="hamburger"><img class="icon icons8-Menu" width="50" height="50" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAp0lEQVRoQ+2XwQnAMAwD45Hz6vgtdAQJgRHXv0R850A6p+SbkjkOg2wziRGMhAiwWiGwcu3c575yelGwZ5BFUK2jcNktfIEwRgJQrUqMWPgCYYwEoFqVGLHwBcIYCUC1KntevzX/I5bPRWEu+yIZ/1EwgpEQAVYrBFauxYiMLhTESAisXNtjpOb1WzOIvJTLgj13ZBlY+TgYkdGFghgJgZVrMSKjCwU/hkwOQyzomKcAAAAASUVORK5CYII="></span>
          </div>
          <nav class="navigation">
            <ul class="nav-list">
              <li class="nav-item"><a href="#">About Us </a></li>
              <li class="nav-item"><a href="#impactContainer">Your Impact</a></li>
              <li class="nav-item"><a href="#">Get Involved</a></li>
              <li class="nav-item"><a href="#newsContainer">Blog</a></li>
              <li class="nav-item"><a href="#sectionTenContainer">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div data-section="1TopSlider" class="row">
      <section class="col-md-12" id="topSliderDiv">
        <div id="topSliderContainer">
          <div class="owl-one owl-carousel owl-theme">
          </div>
        </div>
      </section>
    </div>
    <div data-section="2ourIdeas" class="col-md-12">
        <section id="sectionTwo" class="parent">
          <div id="titleContainer">
            <div data-id="1">About<span class="showingChild"></span></div>
            <div data-id="2">Funding Research<span></span></div>
            <div data-id="3">Award Dinner<span></span></div>
          </div>
          <div id="quoteContainer">
            <span>&ldquo;</span>
            <div class="quote" style="display:block;" data-id="1">
              Thank you for your interest in the Miner’s Lamp Award!<br><br>
              One in five Canadians will experience mental illness in their lifetime and, of these, over 70%
              encounter their first symptoms between 16 and 24. Research into the causes of mental illness
              among young people is therefore essential.<br><br>
              The Miner’s Lamp Award has been raising funds to do this since 2016, thanks to a partnership
              between IAMGOLD Corporation and University of Toronto Department of Psychiatry, and
              generous sponsorship from many companies and individuals in different walks of life.<br><br>
              While investing in the future, we believe it’s equally important to recognize individuals whose
              outstanding leadership in eroding the stigma of mental illness has brought fresh hope to those
              affected by it. Each year, we honour them with the presentation of the Miner’s Lamp Award and
              encourage others to follow their lead.<br><br>
              We invite you to help us improve mental health for generations to come by supporting the 2018
              Miner’s Lamp Award Dinner.<br><br>
              (Two signatures &amp; titles)
            </div>
            <div class="quote" data-id="2">
              A growing body of medical research highlighting the impact of mental illness, a greater
              understanding of its physiological origins and clearer evidence of its connection with physical
              health...<i>all are cause for optimism.</i><br><br>

              Building on this optimism requires continuing financial investment. We have chosen to focus on
              funding research that sows the seeds of new insight into the causes of mental illness among
              adolescents and young people. Research in this area is underfunded compared to other leading
              causes of illness and disability, so we want to act quickly to avert the challenges that arise when
              mental health conditions go undiagnosed and untreated for extended periods.<br><br>
              Since 2016, the Miner’s Lamp Award Campaign has raised over $1m for new research in the
              prevention and early detection of severe mental illness in adolescents and young people. The
              2016 portion of the funds raised is supporting innovative studies at the Centre for Addiction and
              Mental Health (CAMH). Further research grants using the 2017 funds will be awarded later this
              year.<br><br>
              <i>IAMGOLD Corporation pays all costs associated with hosting the Miner’s Lamp Award Dinner,
              so 100% of funds raised go directly to new research.</i>
            </div>
            <div class="quote" data-id="3">
              The 2018 Miner’s Lamp Award Dinner will be held on Tuesday March 27 at The Carlu, Toronto.
              Following an inaugural event for 200 members of Canada’s business and academic
              communities in March 2016, the Miner’s Lamp Award Dinner moved to The Carlu in April 2017
              to accommodate growing demand from the 400 guests who sponsored and attended the event.<br><br>
              By bringing together an influential group of engaged Canadians, accomplished individuals
              speaking courageously of their own struggles with mental illness, and talented performers, the
              Miner’s Lamp Award Dinner has become a memorable evening… an opportunity for our
              community to celebrate progress and renews its commitment to improving mental health for
              generations to come.<br><br>
              Our 2017 guests saw Sophie Grégoire Trudeau join Steven Page (founder of the Barenaked
              Ladies) in speaking up for greater understanding of mental illness. In March 2018, we look
              forward to honouring George Cope, President &amp; CEO, BCE Inc. &amp; Bell Canada, and founder of
              Bell Let’s Talk, with the Miner’s Lamp Award.<br><br>
              For more details of the 2018 Miner’s Lamp Award Dinner, including sponsorship opportunities at
              many levels, click here.
            </div>

          </div>

        </section>

    </div>
    <div data-section="3donate" class="row">
      <div class="col-md-12">
        <section id="sectionThree">
          <div id="sectionThreeContainer">

            <div class="sectionThreeItemContainer">
              <span class="sectionThreeroundTitle one">
                <span class="round"><span>Donate</span></span>

              </span>
              <div class="sectionThreeItemBlurb">Since 2016, the Miner's Lamp Award has brought together a network of engaged leaders from across industries, committed to improving the trajectory and outcomes of mental illness for adolescents and young adults. To date, we have invested over $1 million in groundbreaking research that will help to define the future of mental healthcare and drive the cultural shift around public attitudes towards mental illness. Our ability to invest in groundbreaking research is made possible by the generous support of sponsors like you. Please consider joining us for the 2018 Miner's Lamp Award Dinner. Full details of sponsorship opportunities are available here. [Link to pdf.] Please note that as all costs for the Miner's Lamp Award Dinner are covered by IAMGOLD Corporation, 100% of funds raised go directly into new research.
              </div>
            </div>
            <div class="clearfix">

            </div>
            <div class="sectionThreeItemContainer">
              <span class="sectionThreeroundTitle two">
                <span class="round"><span>Partner</span></span>
              </span>
              <div class="sectionThreeItemBlurb">While IAMGOLD Corporation covers all costs for the Miner's Lamp Award Dinner, we are fortunate to enjoy the support of partners who contribute in kind in areas of special significance to them. If you would like to explore an in-kind contribution, please contact [TBD]. Thanks in advance for your support for the Miner's Lamp Award!
              </div>
            </div>
            <!--div class="sectionThreeItemContainer three">
              <div class="sectionThreeroundTitle">
                <span class="round"><span>Sponsorship<br>Opportunities</span></span>
              </div>
              <div class="sectionThreeItemBlurb">
                Vis populo principes repudiare at, cu hinc pericula incorrupte sea, illum ipsum maiorum sed ex.
              </div>
            </div-->
          </div>
        </section>
      </div>
    </div>
    <div data-section="4yourImpact" class="row">
      <div id="impactContainer" class="col-md-12">
        <div class="headingTitleContainer">
          <div class="titleText">Your Impact</div>
          <div class="centeredLine"></div>
        </div>
        <div id="impactItemsContainer">
          <div class="impactItem">
            <div class="impactTopTwo">
              <div class="impactMetric">
                2
              </div>
              <img src="dist/assets/svg/CalandarIcon.svg" alt="CalendarIcon">
            </div>
            <div class="impactVerb">
              Years since launch
            </div>
            <div class="impactLeftLine"></div>
            <div class="impactRightLine"></div>
          </div>

          <div class="impactItem">
            <div class="impactTopTwo">
              <div class="impactMetric">
                $ 1 Million
              </div>
              <img src="dist/assets/svg/MoneyIcon.svg" alt="CalendarIcon">
            </div>
            <div class="impactVerb">
              Raised
            </div>
            <div class="impactLeftLine"></div>
            <div class="impactRightLine"></div>
          </div>

          <div class="impactItem">
            <div class="impactTopTwo">
              <div class="impactMetric">
                &nbsp;&nbsp;&nbsp;100%
              </div>
              <img src="dist/assets/svg/DonationIcon.svg" alt="CalendarIcon">
            </div>
            <div class="impactVerb">
              Funds Donated
            </div>
            <div class="impactLeftLine"></div>
            <div class="impactRightLine"></div>
          </div>
        </div>
      </div>
    </div>
    <div data-section="5yourDonationsAtWork" class="row">
      <section class="col-md-12" id="sectionFive">
        <div class="col-md-12" id="sectionFiveContainer">
          <div id="yourDTitleContainer">
            <span></span>
            <div>Your donations at work</div>
            <span></span>
          </div>
          <div class="yourDSummary">
              Every dollar donated to the Miner's Lamp Award Campaign supports new research into youth mental health. As IAMGOLD covers the cost of the dinner, 100% of proceeds are channelled into new research to support the field’s most promising studies. With the funds raised in 2016, two new studies are under way at Toronto's Centre for Addiction and Mental Health (CAMH).
          </div>
          <div id="yourDItemsContainer">
            <div class="yourDItem">
              <img src="dist/assets/images/yourDonation-2--320.jpg" srcset="dist/assets/images/yourDonation-1--640.jpg 640w, dist/assets/images/yourDonation-1--900.jpg 900w, dist/assets/images/yourDonation-1--1200.jpg 1200w" alt="yourDItem">
              <div class="yourDItemTitleContainer">
                <div class="title">
                  Pic summary
                </div>
                <div class="hdivider">|</div>
                <div class="time">
                  2016 - present
                </div>

              </div>
              <div class="blurb">
                  Drs. Joanna Henderson and Aristotle Voineskos are collaborating with child and youth clinics, and using a new approach to identify early signs of psychosis spectrum symptoms.
              </div>

            </div>
            <div class="divider"></div>
            <div class="yourDItem">
              <img src="dist/assets/images/yourDonation-2--320.jpg" srcset="dist/assets/images/yourDonation-2--640.jpg 640w, dist/assets/images/yourDonation-2--900.jpg 900w, dist/assets/images/yourDonation-2--1200.jpg 1200w" alt="yourDItem">

              <div class="yourDItemTitleContainer">
                <div class="title">
                  Pic info
                </div>
                <div class="hdivider">|</div>
                <div class="time">
                  2016 - present
                </div>

              </div>
              <div class="blurb">
                Dr. Vincenzo De Luca is studying the interaction of early life adversities and schizophrenia vulnerability genes in young people – with a specific focus on how this relates to suicide risk.
                With over $630,000 raised at the 2017 Miner's Lamp Award Dinner, further research grants will be awarded in fall 2017.
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>
    <div data-section="6WhatsNew" class="row">
        <div class="col-md-12" id="newsContainer">
          <div class="headingTitleContainer">
            <div class="titleText">What's new</div>
            <div class="centeredLine"></div>
          </div>
          <div class="lity-hide">
            <div class="owl-news owl-carousel owl-theme">
              <div id="article1" class="item lityItem">
                <img class="full" alt="itemPic" src="dist/assets/images/1200x675-4-.-320.jpg" srcset="dist/assets/images/1200x675-4-.-640.jpg 640w, dist/assets/images/1200x675-4-.-900.jpg 900w, dist/assets/images/1200x675-4-.-1200.jpg 1200w">
                <div class="detailContainer">
                  <div class="type">
                    Miner's Lamp
                  </div>
                  <div class=""><img src="dist/assets/svg/Flame.svg" alt=""></div>
                  <div class="pipe">|</div>
                  <div class="date">Sept 21, 2017</div>
                </div>
                <div class="title">
                  Antonio Conte has been speaking
                </div>
                <div class="content">
                  Antonio Conte has been speaking about the qualities of new signing Danny Drinkwater, as well as the midfielder’s relationship with N’Golo Kante, ahead of today’s visit to their former club Leicester City. Drinkwater was one of two deadline-day arrivals
                  at Stamford Bridge along with Italian defender Davide Zappacosta, who signed from Torino, and could potentially make his Chelsea debut this afternoon.During the 2015/16 campaign Drinkwater formed a formidable midfield partnership withKante
                  as Leicester defied the odds to win the Premier League title, and Conte believes they will work well together once again.‘I think Danny is a really good player,’ said Conte. ‘Two years ago together with N’Golo they won the league. They played
                  regularly and showed how strong they were.‘Danny is a strong player who can help us. The midfield is very important. I need midfielders with particular characteristics which he has. Now he must find his best physical condition to be ready
                  tohelp us.’Conte also explained why the fact we have signed two new players will not lead to a change in shape or system for his side.‘We want to continue to play with this system because, don’t forget, there are 11 players who played last
                  season and we changed our system to give them the best condition to exploit their talent. With the new signings we have to try to give them the best chance to be in top condition.’

                </div>
              </div>
              <div id="article2" class="item lityItem">
                <img class="full" alt="itemPic" src="dist/assets/images/1200x675-1--320.jpg" srcset="dist/assets/images/1200x675-1--640.jpg 640w, dist/assets/images/1200x675-1--900.jpg 900w, dist/assets/images/1200x675-1--1200.jpg 1200w">
                <div class="detailContainer">
                  <div class="type">
                    News article
                  </div>
                  <div class=""><img src="dist/assets/svg/Newspaper.svg" alt=""></div>
                  <div class="pipe">|</div>
                  <div class="date">Sept 22, 2017</div>
                </div>
                <div class="title">
                  Just the name of another news article that will be a bit long
                </div>
                <div class="content">
                  In their Man United game, Jose Mourinho had special measures to deal with Leicester’s biggest threat: wingers Demarai Gray and Marc Albrighton, forwards Jamie Vardy, and now Kelechi Iheanacho, finding space behind the defence from raking passes by the
                  likes of Riyad Mahrez. Vardy, with Shinji Okazaki just behind, gave the Gunners’ rearguard a tough ride at times on the opening day but the Red Devils defended deep and blocked channels in midfield, forcing him into wide areas. Chelsea may
                  try to win the battle for midfield and stifle the hosts’ danger men in similar fashion.
                </div>
              </div>
              <div id="article3" class="item lityItem">
                <img class="full" alt="itemPic" src="dist/assets/images/1200x675-2-.-320.jpg" srcset="dist/assets/images/1200x675-2-.-640.jpg 640w, dist/assets/images/1200x675-2-.-900.jpg 900w, dist/assets/images/1200x675-2-.-1200.jpg 1200w">
                <div class="detailContainer">
                  <div class="type">
                    Miner's Lamp
                  </div>
                  <div class=""><img src="dist/assets/svg/Flame.svg" alt=""></div>
                  <div class="pipe">|</div>
                  <div class="date">Sept 23, 2017</div>
                </div>
                <div class="title">
                  Title of article
                </div>
                <div class="content">
                  Just over a month after he was a late substitute in the Community Shield match, Toni Rudiger is facing his first game as a Chelsea player outside of London having been an ever-present in our league campaign so far. He has also been in action for Germany
                  over the international break, with notable success too, so the official Chelsea website sat down with the summer addition to the defence to look back at the opening weeks and ahead to games to come, including this afternoon’s fixture in
                  Leicester. He also has an insight into another addition to the squad…IT HAS BEEN A PRETTY BUSY FIRST MONTH OF THE SEASON FOR YOU…‘For me it was important to adapt to the new place, to the new club, to the new country, and I have to say thank
                  you to the guys and to the staff as they helped me a lot.‘To adapt it has been good to play games. Of course I came here because I want to play and I want to develop myself, and sometimes in life it is like this, someone gets suspended or
                  injured. It is not that I wish that for my team-mates of course, but sometimes football works like this and then I have the chance to show myself very quickly in this team.‘I think it was positive for me and I would like to continue like
                  this but it always depends on my effort in the training, and also in the games, and the coach decides.’

                </div>
              </div>
            </div>
         </div>

          <div class="owl-two owl-carousel owl-theme">
           <a href="#article1" data-lightbox>
            <div class="item">
              <img class="preview" alt="itemPic" src="dist/assets/images/1200x675-4-.-320.jpg" srcset="dist/assets/images/1200x675-4-.-640.jpg 640w, dist/assets/images/1200x675-4-.-900.jpg 900w, dist/assets/images/1200x675-4-.-1200.jpg 1200w">
              <div class="detailContainer">
                <div class="type">
                  Miner's Lamp
                </div>
                <div class=""><img src="dist/assets/svg/Flame.svg" alt=""></div>
                <div class="pipe">|</div>
                <div class="date">Sept 21, 2017</div>
              </div>
              <div class="title">
                Antonio Conte has been speaking
              </div>
              <div class="content">
                Antonio Conte has been speaking about the qualities of new signing Danny Drinkwater, as well as the midfielder’s relationship with N’Golo Kante, ahead of today’s visit to their former club Leicester City. Drinkwater was one of two deadline-day arrivals
                at Stamford Bridge along with Italian defender Davide Zappacosta, who signed from Torino, and could potentially make his Chelsea debut this afternoon.During the 2015/16 campaign Drinkwater formed a formidable midfield partnership withKante
                as Leicester defied the odds to win the Premier League title, and Conte believes they will work well together once again.‘I think Danny is a really good player,’ said Conte. ‘Two years ago together with N’Golo they won the league. They played
                regularly and showed how strong they were.‘Danny is a strong player who can help us. The midfield is very important. I need midfielders with particular characteristics which he has. Now he must find his best physical condition to be ready
                tohelp us.’Conte also explained why the fact we have signed two new players will not lead to a change in shape or system for his side.‘We want to continue to play with this system because, don’t forget, there are 11 players who played last
                season and we changed our system to give them the best condition to exploit their talent. With the new signings we have to try to give them the best chance to be in top condition.’

              </div>
            </div>
           </a>
           <a href="#article2" data-lightbox>
            <div class="item">
              <img class="preview" alt="itemPic" src="dist/assets/images/1200x675-1--320.jpg" srcset="dist/assets/images/1200x675-1--640.jpg 640w, dist/assets/images/1200x675-1--900.jpg 900w, dist/assets/images/1200x675-1--1200.jpg 1200w">
              <div class="detailContainer">
                <div class="type">
                  News article
                </div>
                <div class=""><img src="dist/assets/svg/Newspaper.svg" alt=""></div>
                <div class="pipe">|</div>
                <div class="date">Sept 22, 2017</div>
              </div>
              <div class="title">
                Just the name of another news article that will be a bit long
              </div>
              <div class="content">
                In their Man United game, Jose Mourinho had special measures to deal with Leicester’s biggest threat: wingers Demarai Gray and Marc Albrighton, forwards Jamie Vardy, and now Kelechi Iheanacho, finding space behind the defence from raking passes by the
                likes of Riyad Mahrez. Vardy, with Shinji Okazaki just behind, gave the Gunners’ rearguard a tough ride at times on the opening day but the Red Devils defended deep and blocked channels in midfield, forcing him into wide areas. Chelsea may
                try to win the battle for midfield and stifle the hosts’ danger men in similar fashion.
              </div>
            </div>
           </a>
           <a href="#article3" data-lightbox>
            <div class="item">
              <img class="preview" alt="itemPic" src="dist/assets/images/1200x675-2-.-320.jpg" srcset="dist/assets/images/1200x675-2-.-640.jpg 640w, dist/assets/images/1200x675-2-.-900.jpg 900w, dist/assets/images/1200x675-2-.-1200.jpg 1200w">
              <div class="detailContainer">
                <div class="type">
                  Miner's Lamp
                </div>
                <div class=""><img src="dist/assets/svg/Flame.svg" alt=""></div>
                <div class="pipe">|</div>
                <div class="date">Sept 23, 2017</div>
              </div>
              <div class="title">
                Title of article
              </div>
              <div class="content">
                Just over a month after he was a late substitute in the Community Shield match, Toni Rudiger is facing his first game as a Chelsea player outside of London having been an ever-present in our league campaign so far. He has also been in action for Germany
                over the international break, with notable success too, so the official Chelsea website sat down with the summer addition to the defence to look back at the opening weeks and ahead to games to come, including this afternoon’s fixture in
                Leicester. He also has an insight into another addition to the squad…IT HAS BEEN A PRETTY BUSY FIRST MONTH OF THE SEASON FOR YOU…‘For me it was important to adapt to the new place, to the new club, to the new country, and I have to say thank
                you to the guys and to the staff as they helped me a lot.‘To adapt it has been good to play games. Of course I came here because I want to play and I want to develop myself, and sometimes in life it is like this, someone gets suspended or
                injured. It is not that I wish that for my team-mates of course, but sometimes football works like this and then I have the chance to show myself very quickly in this team.‘I think it was positive for me and I would like to continue like
                this but it always depends on my effort in the training, and also in the games, and the coach decides.’

              </div>
            </div>
            </a>
            <div class="item">
              <img class="preview" alt="itemPic" src="dist/assets/images/1200x675-3-.-320.jpg" srcset="dist/assets/images/1200x675-3-.-640.jpg 640w, dist/assets/images/1200x675-3-.-900.jpg 900w, dist/assets/images/1200x675-3-.-1200.jpg 1200w">
              <div class="detailContainer">
                <div class="type">
                  News article
                </div>
                <div class=""><img src="dist/assets/svg/Newspaper.svg" alt=""></div>
                <div class="pipe">|</div>
                <div class="date">Sept 24, 2017</div>
              </div>
              <div class="title">
                42 games undefeated all the way back to April 2015
              </div>
              <div class="content">
                Our youth team return to action in the Under-18 Premier League this morning (Saturday), with Arsenal the visitors to Cobham for a London derby captured live by the Chelsea TV cameras (kick-off 10.30am).The young Blues will tick over 900 days unbeaten
                at home in all competitions if they avoid defeat against the Gunners, who were the nearest challengers to Jody Morris’s side last term, finishing runners-up to our youngsters in the both the south section and national merit round.It is an
                unblemished record that stretches across four different seasons, 42 games undefeated all the way back to April 2015 when Middlesbrough took the points home following a 3-1 victory. Morris frequently used the run as motivation for his players
                during the Treble-winning campaign of 2016/17 and it continues to be a source of inspiration as a new crop of first-year scholars step forward.George McEachran is a more familiar face in the Under-18 surroundings, the midfielder featuring
                on 26 occasions last season and in every game so far this term. His goals opened the scoring against both Aston Villa and Norwich City last month, with his impact in front of goal highlighted as a key area for further improvement in the
                months ahead by the coaching staff.‘We want to carry on the unbeaten run for as long as possible,’ the 17-year-old tells the official Chelsea website as we look ahead to the game. ‘Jody and Ed [Brand, Under-18s assistant] speak about it
                quite a lot and it’s a big thing for the Under-18s group.
              </div>
            </div>

          </div>
        </div>
    </div>
    <div data-section="7donorLogos" class="row">
      <section class="col-md-12" id="sectionSeven">
        <div class="col-md-12" id="sectionSevenContainer">
          <div class="headingTitleContainer">
            <div class="titleText">2017 Donors</div>
            <div class="centeredLine"></div>
          </div>
          <div id="logoItemContainer">
            <div class="logoItem">
              <img src="dist/assets/images/logoIMG-160.jpg" srcset="dist/assets/images/logoIMG-320.jpg 640w,
              dist/assets/images/logoIMG-450.jpg 900w,
              dist/assets/images/logoIMG-600.jpg 1200w" alt="logo">

            </div>
            <div class="logoItem">
              <img src="dist/assets/images/logoUTPsych-160.jpg" srcset="dist/assets/images/logoUTPsych-320.jpg 640w,
              dist/assets/images/logoUTPsych-450.jpg 900w,
              dist/assets/images/logoUTPsych-600.jpg 1200w" alt="logo">
            </div>
            <div class="logoItem">
              <img src="dist/assets/images/logoAirCanada-160.jpg" srcset="dist/assets/images/logoAirCanada-320.jpg 640w,
              dist/assets/images/logoAirCanada-450.jpg 900w,
              dist/assets/images/logoAirCanada-600.jpg 1200w" alt="logo">
            </div>
            <div class="logoItem">
              <img src="dist/assets/images/logoNationalB-160.png" srcset="dist/assets/images/logoNationalB-320.png 640w,
              dist/assets/images/logoNationalB-450.png 900w,
              dist/assets/images/logoNationalB-600.png 1200w" alt="logo">
            </div>
            <div class="logoItem">
              <img class="vert" src="dist/assets/images/logoPearTree-80.png" srcset="dist/assets/images/logoPearTree-160.png 640w,
              dist/assets/images/logoPearTree-225.png 900w,
              dist/assets/images/logoPearTree-300.png 1200w" alt="logo">
            </div>
            <div class="logoItem">
              <img src="dist/assets/images/logoRBC-160.png" srcset="dist/assets/images/logoRBC-320.png 640w,
              dist/assets/images/logoRBC-450.png 900w,
              dist/assets/images/logoRBC-600.png 1200w" alt="logo">
            </div>

            <div class="logoListAllContainer">
              <div class="headingTitleContainer">
                <div class="titleText">Silver Sponsors</div>
                <div class="centeredLine"></div>
              </div>
              <div class="logoListContainer">
                <div> Agnico Eagle Mines</div>
                <div> Barrick</div>
                <div> Deloitte</div>
                <div> EY</div>
                <div> KPMG MSLP</div>
                <div> Purves Redmond</div>
                <div> TD Securities</div>
              </div>
              <div class="headingTitleContainer">
                <div class="titleText">Bronze Sponsors</div>
                <div class="centeredLine"></div>
              </div>
              <div class="logoListContainer">
                <div> Ausenco</div>
                <div> Geoff Beattie & Amanda Lang</div>
                <div> Black Loon Metals</div>
                <div> Blake, Cassels & Graydon LLP</div>
                <div> BMO</div>
                <div> CAMH</div>
                <div> Citi</div>
                <div> Detour Gold</div>
                <div> Emerging Markets Capital</div>
                <div> Evans Investment Counsel</div>
                <div> Fasken Martineau</div>
                <div> Kinross Gold</div>
                <div> Labatt Family</div>
                <div> Magris Resources Inc.</div>
                <div> Maple Leaf Foods</div>
                <div> Morgan Stanley</div>
                <div> Paul, Weiss, Rifkind, Wharton & Garrison LLP</div>
                <div> Ryan Bignucolo</div>
                <div> SickKids Foundation</div>
                <div> Stikeman Elliott LLP</div>
                <div> Teck Resources</div>
              </div>
              <div class="headingTitleContainer">
                <div class="titleText">Sponsors</div>
                <div class="centeredLine"></div>
              </div>
              <div class="logoListContainer">
                <div> Jamie & Patsy Anderson</div>
                <div> John Hunkin</div>
                <div> Mancal Corporation</div>
                <div> PwC</div>
                <div> Jim & Sandi Treliving</div>
              </div>
              <div class="headingTitleContainer">
                <div class="titleText">Supporters</div>
                <div class="centeredLine"></div>
              </div>
              <div class="logoListContainer">
                <div> Barberian's Steak House</div>
                <div> Donnelley Financial Siolutions</div>
                <div> Maple Leaf Sports & Entertainment</div>
              </div>


            </div>
            <div class="logoCaretContainer">
              <div class="more"></div>
              <!--img class="logoCaret" src="dist/assets/svg/OffWhiteCarat.svg" alt="caret"/-->
            </div>
          </div>

        </div>
      </section>
    </div>
    <div data-section="8awardWinners" class="row">
      <div class="col-md-12">
        <div id="awardWinnersContainer">
          <div class="awardWinnersTitleContainer">
            <div class="titleText">Award Winner</div>
            <div class="centeredLine"></div>
          </div>
          <div class="owl-three owl-carousel owl-theme">
            <div class="item">
              <div class="awardWinnersItem">
                <div class="year">
                  2016
                </div>
                <div class="contentContainer">
                  <img class="img" src="dist/assets/images/yourDonation-2--320.jpg" srcset="dist/assets/images/yourDonation-1--640.jpg 640w, dist/assets/images/yourDonation-1--900.jpg 900w, dist/assets/images/yourDonation-1--1200.jpg 1200w" alt="yourDItem">

                  <div class="name">
                    Paul M. Beeston
                  </div>
                  <div class="contentBox">
                    Paul M. Beeston is known for many achievements. He was the very first employee of the Toronto Blue Jays; the whiz kid accountant who helped bring two World Series championships to Canada. He is a member of the Order of Canada and the beloved Canadian who went on to become president of Major League Baseball. What he is less known for but where his footprint has been no less influential is his work to support people living with mental illness. During his time as chair of the board of trustees at the Centre for Addiction and Mental Health, Paul’s impact was felt at all levels. From supporting an ambitious $1 billion expansion, to handing out cookies on Christmas Day with his wife Kaye to staff who worked in the emergency room, Paul has had an enormous impact on the lives of many.                  </div>
                <!--item-->
                    <div class="bottomContainer">
                      <div class="left">
                        <span>Back</span>
                        <img src="dist/assets/svg/GreyArrow.svg" alt="left">
                      </div>
                      <div class="right">
                        <img src="dist/assets/svg/GreyArrow.svg" alt="left">
                        <span>2017 Winner</span>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="awardWinnersItem">
                <div class="year">
                  2017
                </div>
                <div class="contentContainer">
                  <img class="img" src="dist/assets/images/yourDonation-2--320.jpg" srcset="dist/assets/images/yourDonation-1--640.jpg 640w, dist/assets/images/yourDonation-1--900.jpg 900w, dist/assets/images/yourDonation-1--1200.jpg 1200w" alt="yourDItem">

                  <div class="name">
                    Jamie & Patsy Anderson
                  </div>
                  <div class="contentBox">
                    Mental health has long been a focus of Jamie and Patsy Anderson’s philanthropic commitments. In 2013, building on previous gifts, they generously established a Chair in Child and Youth Mental Health between CAMH, SickKids and the University of Toronto. The Chair enabled development and leadership of an integrated program in this area of mental health.
                    <br><br>
                    Jamie and Patsy are equally generous with their time, energy and expertise as volunteers. Patsy joined the Board of Directors of SickKids Foundation in 2001 and served as its Chair from 2006 to 2011, a transformative period for the hospital. Jamie, meanwhile, first joined CAMH’s fundraising campaign in 1998 and has been involved ever since, serving in a number of key governance and fundraising roles, including Co-Chair of the current “Breakthrough” campaign.
                  </div>
                <!--item-->
                  <div class="bottomContainer">
                      <div class="left">
                        <span>Back</span>
                        <img src="dist/assets/svg/GreyArrow.svg" alt="left">
                      </div>
                      <div class="right">
                        <img src="dist/assets/svg/GreyArrow.svg" alt="left">
                        <span>2016 Winner</span>
                      </div>
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-section="9Gallery" class="row">
      <div class="col-md-12" id="lightGalleryContainer">
        <div class="headingTitleContainer">
          <div class="titleText">Gallery</div>
          <div class="centeredLine"></div>
        </div>
        <div class="yearHeading">
          2016
        </div>
        <div id="lightgallery2016">

        </div>
        <div class="yearHeading">
          2017
        </div>
        <div id="lightgallery2017">

        </div>

      </div>
    </div>
    <div data-section="10Contacts" class="row">
        <div class="col-md-12" id="sectionTenContainer">
          <div class="headingTitleContainer">
            <div class="titleText">Contact</div>
            <div class="centeredLine"></div>
          </div>
          <div id="contactItemsContainer">
            <div class="contactItem">
              <div class="type">
                address
              </div>
              <div class="divider">

              </div>
              <div class="info">
                401 Bay St #3200<br>Toronto, ON<br> M5H 2Y4
              </div>
            </div>
            <div class="contactItem">
              <div class="type">
                phone
              </div>
              <div class="divider">

              </div>
              <div class="info">
                (416) 360-4710
              </div>
            </div>
            <div class="contactItem">
              <div class="type">
                email
              </div>
              <div class="divider">

              </div>
              <div class="info">
                iamgoldcommunications<br> @iamgold.com
              </div>
            </div>
          </div>
          <div id="contactSocialMediaContainer">
            <div class="follow">
              follow us
            </div>
            <div class="icons">
              <img src="dist/assets/svg/Twitter.svg" alt="twitter">
              <img src="dist/assets/svg/Instagram.svg" alt="instagram">
            </div>

          </div>
          <div id="MLFooter">
            &copy;2017
          </div>
        </div>

    </div>
</div><!--container-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="dist/js/lightgallery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <script src="dist/js/lg-thumbnail.min.js"></script>
    <script src="dist/js/lg-fullscreen.min.js"></script>
    <script src="dist/js/lg-share.min.js"></script>
    <script src="dist/js/lg-zoom.min.js"></script>
    <script src="dist/js/owl.carousel.min.js"></script>
    <script src="../lity-2.3.0/dist/lity.js"></script>
    <script src="dist/js/index.js">>

    </script>
</body>

</html>
