<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /greatKanji/rest/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /greatKanji/rest/index.php [L]
</IfModule>
